@import './epfl.css';

:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  /* --slidev-theme-primary: #5d8392; */
  --slidev-theme-primary: var(--epfl-rouge);
}

/* Title */
.slidev-layout h1 {
  font-family: var(--epfl-heading-font);
  /* font-size: 52.8px; /* 90% of 44pt (44pt = 58.7px) from Franklin Gothic */
  /* font-weight: 600; */
  @apply text-6xl font-semibold; /* Roughly 90% of 44pt, no tracking-tight? */

}

/* Slide titles */
.slidev-layout h2 {
  font-family: var(--epfl-heading-font);
  /* font-size: 38.4px; /* 90% of 32pt (32pt = 42.7px) from Franklin Gothic */
  /* font-weight: 600; */
  @apply text-4xl font-semibold; /* Roughly 90% of 32pt, no tracking-tight? */
  @apply mb-20;                  /* Roughly two empty lines at the bottom */
}

/* EPFL logo, meta, etc */
.epfl-persistent {
  z-index: 10;
}

/* Unordered and ordered list blocks */
.slidev-layout ul,
.slidev-layout ol {
  @apply mt-4 mb-4;
}

.slidev-layout h2 + ul,
.slidev-layout h2 + ol {
  @apply pt-8;
}

/* Unordered and ordered list items */
.slidev-layout ul li,
.slidev-layout ol li {
  color: var(--epfl-text-color);
  font-family: var(--epfl-main-font);
  @apply text-2xl mb-2 mt-0.1;
  line-height: 1.1;
}

/* Click transitions */
.epfl-fade-clicks > li {
  @apply transition-opacity duration-500 ease-in-out;
}

/* Reduce paragraphs line spacing */
/* .slidev-layout p {
  line-height: 3;
} */

/* Sections */
.slidev-layout.section {
  align-content: center; /* Not sure whether to keep this */
}

/* Section titles */
.slidev-layout.section h2 {
  @apply mt-0;
  @apply mb-14 + !important;
  text-wrap: pretty;
}

/* Blockquotes */
.slidev-layout blockquote {
  @apply text-base;
  @apply italic;
  color: var(--epfl-text-color);
  font-family: var(--epfl-main-font);
  border-left-width: 4px;
  border-radius: 0px;
}